@tailwind base;
@tailwind components;
@tailwind utilities;

body{

  @apply bg-black text-white
}


.glow {
  animation: glowing 1s infinite alternate;
}

@keyframes glowing {
  from {
    border-color: white;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff;
  }
  to {
    border-color: #ffc107;
    box-shadow: 0 0 20px #ffc107, 0 0 30px #ffc107, 0 0 40px #ffc107, 0 0 50px #ffc107, 0 0 70px #ffc107;
  }
}
